.App {
  text-align: center;
}

.goal-container{
  background: #e5e5e5;
  min-height: 100vh;
  padding: 20px 10px;
}

.goal-list{
  background: #fcd9cd;
  width: 60vw;
}

h1 {
  color: #61831c;
  text-transform: lowercase;
}




